.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: fit-content;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #e3f2fd;
  /* border-radius: 30px; */
  border-left: 20px solid #2196f3;
}

.info > div {
  margin: 10px;
}
