@keyframes ldio-bqo9lfdx3jh {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-bqo9lfdx3jh div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-bqo9lfdx3jh 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-bqo9lfdx3jh div:nth-child(1) {
  border-color: #f2bc39;
  animation-delay: 0s;
}
.ldio-bqo9lfdx3jh div:nth-child(2) {
  border-color: #033a8b;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-2veld84ymos {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-bqo9lfdx3jh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bqo9lfdx3jh div {
  box-sizing: content-box;
}
